@charset "utf-8";


@keyframes menu {

    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }


}
@keyframes weather1 {
    0% {
        position: absolute; top: 0px; left: 70%;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 0px; left: -100%;
    }
}
@keyframes weather2 {
    0% {
        position: absolute; top: 30%; right: 100%;
    }
    90% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 30%; right: -70%;
        opacity: 0;
    }
}