@charset "utf-8";


/* 메뉴 클릭하면 나와라! */
@keyframes menu {

    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }


}
/* 일기예보 페이지 구름1 */
@keyframes weather1 {
    0% {
        position: absolute; top: 0px; left: 70%;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 0px; left: -100%;
    }
}
/* 일기예보 페이지 구름2 */
@keyframes weather2 {
    0% {
        position: absolute; top: 30%; right: 100%;
    }
    90% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 30%; right: -70%;
        opacity: 0;
    }
}

/* 로딩화면(769px 이상) 바이러스들 */
@keyframes virus {
    0% {
        transform: translateY(0px);
        width: 110px; height: 90px;
    }
    20% {
        width: 100px; height: 100px;
    }
    50% {
        transform: translateY(-50px);
    }
    80% {
        width: 100px; height: 100px;
    }
    100% {
        transform: translateY(0px);
        width: 110px; height: 90px;
    }
}