@charset "utf-8";
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




.row {max-width: 768px; margin: 0px auto;}
.sub-row {max-width: 600px; margin: 0px auto;}

/* html, body {height: 200%;} */
#mobile {
    max-width: 768px;
    margin: 0px auto;
    /* height: 100%; */
}

/* 탑 메뉴----------------------------------------------------------------------------------------------------- */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    border-bottom: 2px solid gray;
    background: #fff; color: darkslategrey;
}
/* 아이콘 */
#header > .search-box,
#header > .alarm-box {
    font-size: 25px;
    margin-top: 20px;
}
/* 로고 */
#header h1 {
    font-size: 50px;
}
/* 클릭하면 나오는 메뉴------------------------------------------------------------------------------------- */
.click-menu-box {
    position: fixed; top: 0px; left: -100%; bottom: 0px;
    width: 100%;
    background : #000;
    z-index: 999;
    /* 바텀메뉴도 fixed인데 z-index: 99값임 */
    /* display: none; */
    overflow: hidden;
}
.click-menu-box.on {
    display: block;
}
/* 클릭메뉴 탑 텍스트 */
.click-menu-box .click-menu-txt {
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 15%;
    padding: 10px 0px 0px 10px;
}
/* 슬로건 구역 */
.click-menu-box .click-menu-txt h2 {
    font-size: 40px; font-family: 'BMEULJIRO'; font-weight: normal;
    /* padding: 20px 0px 10px 20px; */
    color: blue;
}
.click-menu-box .click-menu-txt h2 span {
    color: #f00;
}
/* 로고박스 */
.click-menu-box .click-menu-txt .click-txt-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0px;
}
.click-menu-box .click-menu-txt .click-txt-top a {
    flex: 0.5;
    padding: 0px 5px;
    font-size: 25px;
}
/* 석지훈님안녕하세요 박스 */
.click-menu-box .click-menu-txt p {
    /* padding: 10px 20px 0px; */
    font-size: 20px;
    flex: 9;
}
.click-menu-box .click-menu-txt p span {
    font-size: 25px;
    /* font-weight: bold; */
    color: green;
}
/* 클릭메뉴의 내용------------------------------------------------------------------------------------------- */
.click-menu-box .click-menu-nav {
    height: 80%;
    background: #fff;
}
.click-menu-box .click-menu-nav ul {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    /* border-bottom: 1px solid #ccc; */
    place-items: center center;
}
.click-menu-box .click-menu-nav ul li {
    /* text-align: center; */
    width: 60%; height: 80%;
    font-size: 20px; font-weight: bold;
    border: 10px solid black; border-radius: 20px;
    background: #fff;
    position: relative;
}
.click-menu-box .click-menu-nav ul li a {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.click-menu-box .click-menu-bottom {
    height: 5%;
    font-size: 20px; font-weight: bold;
    padding: 10px 0px 0px 20px;
    background: #333; color: #fff;
}
.click-menu-box .click-menu-bottom i {
    font-size: 25px;
    padding: 0px 10px;
}








/* 한줄광고----------------------------------------------------------------------------------------- */
.main-page .main-noti {
    position: relative;
    height: 50px; line-height: 50px;
    background: #3b1dcd; color: #fff;
    overflow: hidden;
}
.main-page .main-noti::before {
    content: "\f12a"; font-family: 'Font Awesome 5 Free'; font-weight: 900 !important;
    padding-left: 20px;
    position: absolute; left: 0px;
    font-size: 20px;
}
.main-page .main-noti a {
    display: block;
    font-weight: bold;
    padding-left: 40px;
}







/* 메인페이지 슬라이드 구역-------------------------------------------------------------------------------- */
.main-page #article .slide-outer {
    height: 400px;
}
.main-page #article .slide-box {
    /* width: 100%; height: 768px;
    overflow: hidden; */
}
.main-page #article .slide {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-page #article .slide1 {
    background: url(../images/slide1.jpg);
}
.main-page #article .slide2 {
    background: url(../images/slide2.jpg);
}
.main-page #article .slide3 {
    background: url(../images/slide3.jpg);
}
.main-page #article .slide4 {
    background: url(../images/slide4.jpg);
}














/* 메인페이지 텍스트 구역 시작------------------------------------------------------------------------------ */
.main-page #article .main-txt-box {
    padding: 20px 0px 30px;
}
.main-page #article .main-txt-box > h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0px 50px;
}
/* 메인페이지 제목----------------------------------------------------------------------------------------- */
.main-page #article .main-txt-box .main-txt .main-title {
    padding: 10px; margin-top: 10px;
    border: 1px solid #bbb; border-radius: 20px;
    font-size: 20px;
}
/* 제목 */
.main-page #article .main-txt-box .main-txt .main-title h3 {
    display: inline-block;
    width: 90%;
}
/* 오른쪽 화살표 */
.main-page #article .main-txt-box .main-txt .main-title i {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}

/* 메인페이지 내용---------------------------------------------------------------------------------------- */
.main-page #article .main-txt-box .main-txt .main-content {
    padding: 10px 10px 10px 20px; margin: 0px auto;
    border: 1px solid #bbb; border-top: none;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
    font-size: 20px;
    width: 95%;
}
/* 내용의 제목 */
.main-page #article .main-txt-box .main-txt .main-content h3 {
    display: inline-block;
    width: 90%;
}
/* 오른쪽 더보기 아이콘 */
.main-page #article .main-txt-box .main-txt .main-content a {
    display: inline-block;
    padding-left: 0px;
}
/* 내용의 이미지 */
.main-page #article .main-txt-box .main-txt .main-content img {
    width: 150px; 
    border-radius: 50%;
}
/* 내용박스 안에 내용 */
.main-page #article .main-txt-box .main-txt .main-content p {
    display: inline-block;
}















/* 바텀 메뉴--------------------------------------------------------------------------------------------- */
#aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; top: 90%; bottom: 0px;
    width: 100%; max-width: 768px; min-height: 92px;
    padding: 0px 20px;
    background: #fff; color: darkslategrey;
    z-index: 99;
    border-top: 2px solid gray;
    /* display: none; */
}
/* 아이콘 */
#aside > div i {
    font-size: 30px;
    /* margin-top: 15px; */
}











/* 푸터------------------------------------------------------------------------------------------------- */
#footer {
    text-align: center;
    margin-bottom: 92px;
}
/* 개인정보 구역 */
#footer .privacy {
    background: #000;
    padding: 10px 0px;
    display: flex;
}
#footer .privacy a {
    color: #fff; background: #333;
    width: 33.33%;
    display: inline-block;
    border-left: 1px solid #000; border-right: 1px solid #000;
    padding: 5px 0px;
    font-size: 12px;
}
/* 주소 구역 */
#footer .address {
    background: #000;
    padding: 15px 0px 20px;
}
#footer .address p {
    color: #fff;
    font-size: 12px;
    padding-bottom: 5px;
}
/* 카피라이트 구역 */
#footer .copyright {
    background: #ddd;
    padding: 10px 0px;
}
#footer .copyright p {
    color: #333;
    font-size: 12px;
}




#onlyMobile {
    position:fixed; top: 0px; left: 0px; right: 0px; bottom: 0px;
    z-index:9999999999;
    background:#4ab8bc;
    font-size:30px; 
    display:flex;
    justify-content: center; align-items:center;
}
@media screen and (max-width:768px ) {
    #onlyMobile {
        display:none;
    }   
}