@charset "utf-8";










.qna-page #article {
    padding: 0px 0px 20px;
}
/* 상단 뒤로가기 메뉴랑 페이지 제목 */
.qna-page #article .top-bar {
    background: #eee; color: #000;
    width: 100%;
    margin-bottom: 20px; padding: 10px 0px;
    text-align: center;
    position: relative;
    font-size: 20px;
}
.qna-page #article .top-bar div {
    display: inline-block;
    position: absolute; left: 20px;
}
.qna-page #article .top-bar h2 {
    display: inline-block;
}




.qna-box {
    padding: 10px 0px; margin: 20px 10px;
    border: 1px solid #aaa; border-radius: 10px;
}




.qna-box h2 {
    text-align: center;
    padding: 5px 0px 10px;
    font-size: 20px;
}
.qna-box h2 i {
    color: skyblue;
}
/* 질문구역------------------------------------------------------------------------------- */
/* 질문박스 */
.qna-box .qna-title {
    border-top: 1px solid #ccc;
    padding: 10px 0px 10px 10px;
    /* position: relative; */
    font-size: 15px;
}
/* 질문의 제목 */
.qna-box .qna-title h3 {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}
/* 질문의 화살표 */
.qna-box .qna-title i {
    /* position: absolute; right: 20px; */
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}


.qna-box .qna-content {
    padding: 10px;
    /* display: none; */
    font-size: 13px;
}